<!DOCTYPE html>
<html lang="en-US">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="http://ui-grid.info/release/ui-grid.js"></script>
<script src="http://angular-ui.github.com/ng-grid/lib/ng-grid.debug.js"></script>
<script src="http://angular-ui.github.com/ng-grid/lib/ng-grid.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-touch.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/lodash.min.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/jszip.min.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/excel-builder.dist.js"></script>
<script src="http://rawgithub.com/g00fy-/angular-datepicker/1.0.3/dist/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/glyphIcons.css">
<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
<link rel="stylesheet" type="text/css" href="http://angular-ui.github.com/ng-grid/css/ng-grid.css" />
<link rel="stylesheet" href="http://rawgithub.com/g00fy-/angular-datepicker/1.0.3/dist/index.css">


<title>Flight Search</title>
</head>
<body style="padding-top: 4.5rem;">
	<nav class="navbar navbar-dark fixed-top bgHdr">
		<div class="navbar-nav mr-auto">
			<span class="navbar-text" style="font-size: 1.2rem;"> UNITED
				AIRLINES </span>
		</div>
		<div class="form-inline mt-2 mt-md-0">
			<div class="d-inline-block mr-2">
				<span class="d-block text-white">Welcome Gajalakshmi</span> <a
					href="#" class="float-right">Logout</a>
			</div>
			<span class="glyphicon glyphicon-user float-right"
				style="font-size: 25px"></span>

		</div>
	</nav>

	<div ng-app="myApp" ng-controller="myCtrl">

		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-md-2 control-label">Flight Number</label>
				<div class="col-md-4">
					<input type="text" name="flightNumber" ng-model="flightNumber"
						onkeypress='return event.charCode >= 48 && event.charCode <= 57'
						minlength="1" maxlength="4" min="1" max="9999" />
				</div>

				<label class="col-md-2 control-label">Origin</label>
				<div class="col-md-4">
					<input type="text" name="origin" ng-model="origin"
						onkeypress='return event.charCode >= 96 && event.charCode <= 123'
						minlength="3" maxlength="3" />
				</div>
				<label class="col-md-2 control-label">Destination</label>
				<div class="col-md-4">
					<input type="text" name="destination"
						onkeypress='return event.charCode >= 96 && event.charCode <= 123'
						ng-model="destination" minlength="3" maxlength="3" />
				</div>

				<label class="col-md-2 control-label">Date</label>
				<div class="col-md-4 input-group">
					<input type="text" uib-datepicker-popup ng-model="date"
						is-open="popup2.opened" datepicker-options="dateOptions" /> <span
						class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open2()">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</div>

				<div style="padding-left: 110px">
					<input type="submit" value="Reset" ng-click="reset()"
						class="btn btn-primary" /> <input type="submit" value="Search"
						ng-click="searchResults()" class="btn btn-primary" />
				</div>
			</div>
		</form>

		<div ng-if="gridOptions.data.length > 0" id="grid1"
			ui-grid="gridOptions" class="grid"></div>

	</div>

	<script>
var app = angular.module('myApp', ['ui.grid','ui.bootstrap']);
app.controller('myCtrl', function($scope, $http) {

    $scope.gridOptions = {
  };

  $scope.gridOptions.columnDefs = [
    {name:'flightNumber'},
    {name:'carrier'}, 
    {name: 'origin'},
    {name: 'departure'},
    {name: 'destination'},
    {name: 'arrival'},
    {name: 'aircraft'},
    {name: 'distance'}
    
  ];


$scope.searchResults = function(){
	var flag = new Boolean(false);
	if ($scope.flightNumber || ($scope.destination && $scope.origin)) 
	{
		if ($scope.date) { 
		flag = true; 
		} else { 
		flag = false;
		alert("Please enter the Date. Date is mandatory");
		
		} 
	}
	else
	{
		flag = false;
		alert("Please enter Flight Number OR Origin and Destination");	
	}
	
	if(flag)
	{		
	 $http({
        method : "GET",
        url : "http://localhost:8882/searchFlights?ori=IAH&des=ORD&d=2018-01-20"
    }).then(function mySuccess(response) {
        $scope.gridOptions.data = response.data;
    }, function myError(response) {
        $scope.gridOptions.data = response.statusText;
    });
	}
	
};
 

$scope.reset = function(){
	$scope.gridOptions.data = {};	
	$scope.flightNumber = "";
	$scope.destination	= "";
	$scope.origin = "";
	$scope.date = "";
};

		  var sdt=new Date(Date.parse(new Date()));
          sdt.setDate(1);
          var edt=new Date(Date.parse(new Date()));
          edt.setDate(31);
            
              $scope.dateOptions = {
                formatYear: 'yy',
                maxDate:edt,
                minDate:sdt,
                startingDay: 1
              };

              function disabled(data) {
                var date = data.date,
                  mode = data.mode;
                return mode === 'day' && (date.getDay() === 0 || date.getDay() === 6);
              }
            
              $scope.toggleMin = function() {
                $scope.dateOptions.maxDate = $scope.inlineOptions.minDate;
              };
            
            
              $scope.open2 = function() {
                $scope.popup2.opened = true;
              };
            
              $scope.setDate = function(year, month, day) {
                $scope.dt = new Date(year, month, day);
              };
            
              $scope.popup2 = {
                opened: false
              };


});

</script>
	<style>
.bgHdr {
	background-color: #2954a9 !important
}

#myTab .active>a {
	color: #fff
}

.appHdr .active>a {
	border-bottom: 5px #007bff solid;
}

.navbar-brand img {
	max-height: 36px
}
</style>

	<style>
.grid {
	width: 1200px;
	height: 300px;
}
</style>

</body>
</html>