<div class="container">
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <form (ngSubmit)="onSubmit()">
        <div>
          <label for="flightNumber">Flight Number</label>
          <input type="text" class="form-control" id="flightNumber"
                 required
                 [(ngModel)]="model.flightNumber" name="flightNumber"
                 #flightNumber="ngModel">
          <div [hidden]="flightNumber.valid || flightNumber.pristine"
               class="alert alert-danger">
            Flight Number is required
          </div>
        </div>
        <div class="form-group">
          <label for="origin">Origin</label>
          <select class="form-control" id="origin"
                  required
                  [(ngModel)]="model.origin" name="origin"
                  #origin="ngModel">
            <option *ngFor="let origin of airports" [value]="origin">{{origin}}</option>
          </select>
          <div [hidden]="origin.valid || origin.pristine" class="alert alert-danger">
            Origin is required
          </div>
        </div>
        <div class="form-group">
          <label for="destination">Destination</label>
          <select class="form-control" id="destination"
                  required
                  [(ngModel)]="model.destination" name="destination"
                  #destination="ngModel">
            <option *ngFor="let destination of airports" [value]="destination">{{destination}}</option>
          </select>
          <div [hidden]="destination.valid || destination.pristine" class="alert alert-danger">
            Destination is required
          </div>
        </div>
        <div>
          <label for="departure">departure</label>
          <input type="date" class="form-control" id="departure"
                 required
                 [(ngModel)]="model.departure" name="flightNumber"
                 #departure="ngModel">
          <div [hidden]="departure.valid || departure.pristine"
               class="alert alert-danger">
            Departure Date is required
          </div>
        </div>
        <br>
        <button class="btn btn-primary">Search</button>
      </form>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <h4>Sample Data</h4>
        <p>Flight Number: 2005</p>
        <p>Origin: IAH</p>
        <p>Destination: ORD</p>
        <p>Departure Date: 2018-01-31</p>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <br>
  <ng-container>
    <ng-template [ngIf]="show">
      <table mat-table [dataSource]="flights" class="mat-elevation-z8">
        <ng-container matColumnDef="flightNumber">
          <th mat-header-cell *matHeaderCellDef> Flight Number</th>
          <td mat-cell *matCellDef="let flight"> {{flight.flightNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="carrier">
          <th mat-header-cell *matHeaderCellDef> Carrier</th>
          <td mat-cell *matCellDef="let flight"> {{flight.carrier}} </td>
        </ng-container>
        <ng-container matColumnDef="origin">
          <th mat-header-cell *matHeaderCellDef> Origin</th>
          <td mat-cell *matCellDef="let flight"> {{flight.origin}} </td>
        </ng-container>
        <ng-container matColumnDef="departure">
          <th mat-header-cell *matHeaderCellDef> Departure</th>
          <td mat-cell *matCellDef="let flight"> {{flight.departure | date: 'medium'}} </td>
        </ng-container>
        <ng-container matColumnDef="destination">
          <th mat-header-cell *matHeaderCellDef> Destination</th>
          <td mat-cell *matCellDef="let flight"> {{flight.destination}} </td>
        </ng-container>
        <ng-container matColumnDef="arrival">
          <th mat-header-cell *matHeaderCellDef> Arrival</th>
          <td mat-cell *matCellDef="let flight"> {{flight.arrival | date: 'medium'}} </td>
        </ng-container>
        <ng-container matColumnDef="aircraft">
          <th mat-header-cell *matHeaderCellDef> Aircraft</th>
          <td mat-cell *matCellDef="let flight"> {{flight.aircraft}} </td>
        </ng-container>
        <ng-container matColumnDef="distance">
          <th mat-header-cell *matHeaderCellDef> Distance</th>
          <td mat-cell *matCellDef="let flight"> {{flight.distance}} </td>
        </ng-container>
        <ng-container matColumnDef="travelTime">
          <th mat-header-cell *matHeaderCellDef> Travel Time</th>
          <td mat-cell *matCellDef="let flight"> {{flight.travelTime}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status</th>
          <td mat-cell *matCellDef="let flight"> {{flight.status}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="flightTitles"></tr>
        <tr mat-row *matRowDef="let row; columns: flightTitles;"></tr>
      </table>
    </ng-template>
  </ng-container>
  <ng-container>
    <ng-template [ngIf]="!show">
      <h4>{{noResult}}</h4>
    </ng-template>
  </ng-container>
</div>
